<body>
    <h1>Welcome to Crabby Reviews <%= @user.name %>!</h1>
    <p>
      You have successfully created your account with the username: <%= @user.login %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining, now go find your next movie!</p>
</body>